@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Outfit:wght@300;500&display=swap');

*{
    font-family: 'Outfit', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
header ul{
   
    display: flex;
    justify-content: space-between;
}
ul{
    list-style: none;
}
.categorie-btn{
    display: flex;
    justify-content: space-around;
}
.categorie-btn img {
    width: 100px;
}
.categorie-btn button {
   
    background-color: transparent;
   border: none;
}
.container-pokemon{
    /* display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap; */
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;

   
}
/* ul .pokemon-menu {
   
    
    margin: 0 auto;
    display: flex;
    flex-flow: wrap;
    gap: 15px;
    justify-content: center;
} */
.pokemon-menu {
  
    list-style: none;
    padding: 10px;
    width: 174px;
    height: 161px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #FBF4E1;
    border-radius: 20px;
    color: rgba(186, 102, 25, 0.74);
    cursor: pointer;

}