<router-outlet></router-outlet>
<!-- <header>
  <section class="categorie-btn">
    <button value="data" (click)='filterByType(data)'>Todos</button>
    <button value="water"(click)='filterByType(data)'>agua</button>
    <button value="ice" (click)='filterByType(data)'>Frio</button>  
  </section>
  <div class='container-header'>
    <ul *ngFor="let data of pokemon.pokemon" (click)='filterByType(data.type)'>
      <li>
        {{data.type}}
      </li>
    </ul>
  </div>
</header>
<section class="menu-section" > -->
  <section class="categorie-btn">
    <!-- <button value="data" (click)='filterByType(data)'>Todos</button> -->
    <button value="water"(click)='filterByTypeWater()'><img src="../assets/agua.png" alt="pokemones-agua"></button>
    <button value="grass" (click)='filterByTypeGrass()'><img src="../assets/frio.png" alt="pokemones-frio"></button>  
    <button value="poison" (click)='filterByTypePoison()'><img src="../assets/toxico.png" alt="pokemones-toxico"></button>
    <button value="fire" (click)='filterByTypeFire()'><img src="../assets/fuego.png" alt="pokemones-fuego"></button>
    <button value="filterByTypeNormal" (click)='filterByTypeNormal()'><img src="../assets/normales.png" alt="pokemones-normal"></button>
  </section>
  <section class="container-pokemon">
          <ul class ="pokemon-menu" *ngFor="let water of showPokemonWater">
              <li>{{water.name}}</li>
              <li>{{water.type}}</li> 
             <li><img src="{{water.img}}" alt=""></li>
          </ul>
    <ul class ="pokemon-menu" *ngFor="let grass of showPokemonGrass" >
        <li>{{grass.name}}</li>
        <li><img src="{{grass.img}}" alt=""></li>
    </ul>
    <ul class ="pokemon-menu" *ngFor="let poison of showPokemonPoison" >
      <li>{{poison.name}}</li>
      <li><img src="{{poison.img}}" alt=""></li>
  </ul>
  <ul class ="pokemon-menu" *ngFor="let fire of showPokemonFire" >
    <li>{{fire.name}}</li>
    <li><img src="{{fire.img}}" alt=""></li>
</ul>
<ul class ="pokemon-menu" *ngFor="let flying of showPokemonNormal" >
  <li>{{flying.name}}</li>
  <li><img src="{{flying.img}}" alt=""></li>
</ul>
</section>
 